[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
frozen-flask = "*"
flask-flatpages = "*"
markdown = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
pdf2image = "*"
email-validator = "*"

[dev-packages]
black = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
