{% extends "portal/portal-layout.html" %} {% block content %}

<section id="portal-index-grid">
  <div id="portal-analytics" class="grid-item">
    <div id="analytics-title" class="grid-item-title">Analytics</div>
    <div id="analytics-subtitle" class="grid-item-subtitle">
      <!--PLACEHOLDER-->
    </div>
    <div id="analytics-embed" class="grid-item-content">
      <!--PLACEHOLDER-->
      <br />
      <br />
    </div>
  </div>

  <div id="portal-timetable" class="grid-item">
    <div id="timetable-title" class="grid-item-title">Timetables</div>
    <div id="timetable-subtitle" class="grid-item-subtitle">
      <!--PLACEHOLDER-->
    </div>
    <div id="timetable-form" class="grid-item-content upload-form">
      <form
        method="POST"
        action="{{ url_for('portal_upload_file', category='timetable') }}"
        enctype="multipart/form-data"
      >
        {{form_timetable.csrf_token }}
        {{form_timetable.file(class="file-upload")}}
        <input type="submit" value="Upload" class="button" />
      </form>
    </div>
  </div>

  <div id="portal-article" class="grid-item">
    <div id="article-title" class="grid-item-title">Articles</div>
    <div id="article-subtitle" class="grid-item-subtitle">
      <!--PLACEHOLDER-->
    </div>
    <div id="article-form" class="grid-item-content upload-form">
      <form
        method="POST"
        action="{{ url_for('portal_upload_file', category='article')}}"
        enctype="multipart/form-data"
      >
        {{form_article.csrf_token }} {{form_article.file(class="file-upload")}}
        <input type="submit" value="Upload" class="button" />
      </form>
    </div>
    <br />
    <div id="article-text" class="grid-item-text">
      <a class="button-grey" href="/portal/reload/articles">Reload</a>
    </div>
  </div>

  <div id="portal-audio" class="grid-item">
    <div id="audio-title" class="grid-item-title">Audio</div>
    <div id="audio-subtitle" class="grid-item-subtitle">
      <!--PLACEHOLDER-->
    </div>
    <div id="audio-text" class="grid-item-text">
      <a class="button-grey" href="/portal/reload/audio">Reload</a>
    </div>
  </div>

  <div id="portal-info" class="grid-item">
    <div id="info-title" class="grid-item-title">Information</div>
    <div id="info-subtitle" class="grid-item-subtitle"><!--PLACEHOLDER--></div>
    <div id="info-text" class="grid-item-text">
      Website documentation & guidelines for uploading Timetables and writing
      Articles can be found
      <a
        href="https://github.com/AbdullahRehmat/Masjid-Bin-Baz-Site/blob/master/README.md#content-management"
      >
        HERE.
      </a>
    </div>
  </div>
</section>

{% endblock %}
