/* GENERAL CSS STYLES */
html {
  margin: 0;
  padding: 0;
  min-width: 350px;
  scroll-behavior: smooth;
  color: var(--text-color-primary);
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
  scrollbar-width: auto;
  scrollbar-gutter: stable;
  scrollbar-color: var(--link-hover-color) var(--grid-element-color);
}

:root {
  /* Grid + Element Colors */
  --logo--blue: #305c77;
  --grid-element-color: #f5f6fa;
  --grid-element-outline: #dfdfdf;
  /* Text Colors */
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-selected: rgba(48, 92, 119, 0.25);
  --metadata-color: #2d2d31;
  --link-hover-color: #212124;
  --footer-link-color: #a1a1a9;
  /* Background Colors */
  --background-color: #ffffff;
  --footer-background-color: #212124;
}

::selection {
  color: var(--text-color-primary);
  background-color: var(--text-color-selected);
}

::-moz-selection {
  color: var(--text-color-primary);
  background-color: var(--text-color-selected);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.grid-item {
  padding: 0.75rem;
  border-radius: 3px;
  background-color: var(--grid-element-color);
  outline: var(--grid-element-outline) 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.002);
}

.grid-item-content {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.grid-notice {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-family: "Lora", serif;
  font-weight: 600;
}

.grid-notice a {
  color: var(--text-color-primary);
  text-decoration: none;
}

.grid-notice a:hover {
  color: var(--logo--blue);
}

.grid-item-title-center {
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
  text-align: center;
  color: var(--logo--blue);
}

.grid-item-title {
  width: 97%;
  font-size: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25rem;
  color: var(--logo--blue);
}

.grid-item-title a,
.grid-item-title a {
  text-decoration: none;
  color: var(--logo--blue);
}

.grid-item-title a:hover,
.grid-item-title a:hover {
  transition: 0.5s ease-in-out;
  color: var(--link-hover-color);
}

.grid-item-subtitle-center {
  font-size: 1.15rem;
  margin-bottom: 0.75rem;
  font-style: italic;
  font-family: "Lora", serif;
  text-align: center;
}

.grid-item-subtitle {
  width: 97%;
  font-size: 1.15rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75rem;
  font-style: italic;
  font-family: "Lora", serif;
}

.grid-item-text {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Lora", serif;
}

.grid-item-text a {
  text-decoration: none;
  color: var(--text-color-primary);
}

.grid-item-metadata {
  width: 99.5%;
  margin-bottom: 0rem;
  font-size: 0.8rem;
  text-align: right;
  color: var(--metadata-color);
}

.grid-item-signature {
  text-align: center;
  font-size: 0.85rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: var(--metadata-color);
}

.lora-bold {
  font-weight: 600;
}

.lora-italic {
  font-style: italic;
  font-family: "Lora", serif;
}

.style-arabic-bold {
  font-family: "Scheherazade New", serif;
  font-style: normal;
  font-weight: 700;
}

.style-arabic-light {
  font-family: "Scheherazade New", serif;
  font-style: normal;
  font-weight: 400;
}

.style-hadeeth {
  font-size: 1.1rem;
  font-style: italic;
  font-family: "Lora", serif;
  color: var(--logo--blue);
}

.style-reporters {
  font-size: 1rem;
  font-style: italic;
  margin-top: 0.75rem;
  font-family: "Lora", serif;
  color: var(--metadata-color);
}

.button-blue {
  width: 40%;
  max-width: 17vw;
  margin: auto;
  padding: 0.6rem;
  font-size: 1.1rem;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff;
  background-color: #305c77;
}

.button-blue > a {
  width: 100%;
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-align-last: center;
}

.button-blue > a:hover {
  transition: 0.5s ease-in-out;
  color: var(--link-hover-color);
}

.button-read-more {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-family: "Lora", serif;
  font-weight: 600;
}

.button-read-more > a {
  text-decoration: none;
  color: var(--text-color-primary);
}

.button-read-more a:hover {
  transition: 0.5s ease-in-out;
  color: var(--logo--blue);
}

iframe {
  width: 100%;
  border-radius: 3px;
  outline: var(--grid-element-outline) solid 1px;
}

img {
  border-radius: 3px;
}
/* ADMIN LOGIN + REGISTER PAGE SPECIFIC CSS STYLES */
#login-form,
#register-form {
  top: 50%;
  left: 50%;
  width: 20%;
  position: absolute;
  text-align: center;
  border-radius: 3px;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  transform: translate(-50%, -50%);
  background-color: #305c77;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.002);
}

.login-field,
.register-field {
  width: 75%;
  padding: 0.25rem;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0.3px solid #d9d9d9;
  text-align: center;
}

#login-button,
#register-button {
  margin: auto;
  border: 0px;
  display: block;
  min-width: 25%;
  padding: 0.375rem;
  font-weight: 700;
  color: #305c77;
  border-radius: 3px;
  text-align: center;
  margin-top: 0.75rem;
  background-color: #ffffff;
}

#login-button:hover,
#register-button:hover {
  background-color: #d9d9d9;
}

/* ADMIN LAYOUT PAGE SPECIFIC CSS STYLES */
#admin-header {
  height: 7vh;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: var(--logo--blue);
  outline: var(--grid-element-outline) 1px solid;
}

#admin-header-text {
  font-size: 1.5rem;
  color: var(--text-color-secondary);
}
#admin-grid {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 15vw 1fr;
  gap: 0.75rem 0.75rem;
  grid-template-areas:
    "admin-sidebar admin-content"
    "admin-sidebar admin-content";
}

#admin-sidebar {
  grid-area: admin-sidebar;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
  border-radius: 3px;
  text-align: center;
  background-color: var(--logo--blue);
  outline: var(--grid-element-outline) 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.002);
}

#admin-sidebar div {
  color: var(--text-color-secondary);
}

#admin-sidebar-title {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

#admin-sidebar-links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#admin-sidebar-links li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

#admin-sidebar-links li a {
  text-decoration: none;
  color: var(--text-color-secondary);
}

#admin-sidebar-links li a:hover {
  color: var(--link-hover-color);
}

/* ADMIN PORTAL PAGE SPECIFIC CSS STYLES */
#portal-grid {
  width: 1fr;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem 0.75rem;
}

.upload-form {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* FOOTER SPECIFIC CSS STYLES */
footer {
  padding: 0.75rem;
  margin-top: 2rem;
  min-height: 5vh;
  text-align: center;
  color: var(--text-color-secondary);
  border-top: solid 0.35rem var(--logo--blue);
  background-color: var(--footer-background-color);
}

#footer-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer-item {
  padding: 0.1rem;
  font-size: 0.85rem;
}
