/* GENERAL CSS STYLES */
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: var(--text-color-primary);
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
}

:root {
  /* Grid + Element Colors */
  --logo--blue: #305c77;
  --grid-element-color: #f5f6fa;
  --grid-element-outline: #dfdfdf;
  /* Text Colors */
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-selected: rgba(48, 92, 119, 0.25);
  --metadata-color: #2d2d31;
  --link-hover-color: #212124;
  /* Background Colors */
  --background-color: #ffffff;
  --footer-background-color: #212124;
}

::selection {
  color: var(--text-color-primary);
  background-color: var(--text-color-selected);
}

::-moz-selection {
  color: var(--text-color-primary);
  background-color: var(--text-color-selected);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#intro {
  margin: 0;
  height: 45vh;
  padding: 0.5rem;
  position: relative;
  background-size: cover;
  background-image: url(../images/background-03.jpg);
  background-position: center;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo-img {
  width: 35vw;
}

#social-media-bar {
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  padding-right: 1.2rem;
  padding-bottom: 0.5rem;
}

#social-media-bar a {
  font-size: 1.75rem;
  margin-left: 0.5rem;
  color: var(--logo--blue);
  text-decoration: none;
}

#social-media-bar a:hover {
  transition: 0.35s ease-in;
  color: var(--link-hover-color);
}

#menu-bar {
  display: flex;
  flex-wrap: wrap;
  min-height: 4.5vh;
  margin-bottom: 1rem;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: var(--logo--blue);
}

.menu-item {
  font-size: 1.1rem;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: context-menu;
}

.menu-item > a {
  color: var(--text-color-secondary);
  text-decoration: none;
}

.menu-item > a:hover {
  transition: 0.35s ease-in;
  color: var(--link-hover-color);
}

.grid-item {
  padding: 0.75rem;
  border-radius: 3px;
  background-color: var(--grid-element-color);
  outline: var(--grid-element-outline) 1px solid;
}

.grid-notice {
  text-align: center;
  font-size: 1rem;
  font-family: "Lora", serif;
  font-weight: 600;
}

.grid-notice a {
  color: var(--text-color-primary);
  text-decoration: none;
}

.grid-notice a:hover {
  color: var(--logo--blue);
}

.grid-item-title {
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
  color: var(--logo--blue);
}

.grid-item-subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
  font-style: italic;
  font-family: "Lora", serif;
}

.grid-item-text {
  width: 97%;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Lora", serif;
}

.grid-item-metadata {
  width: 100%;
  margin-bottom: 0rem;
  font-size: 0.8rem;
  text-align: right;
  color: var(--metadata-color);
}

.lora-bold {
  font-weight: 600;
}

.lora-italic {
  font-style: italic;
  font-family: "Lora", serif;
}

.style-arabic-bold {
  font-family: "Scheherazade New", serif;
  font-weight: 700;
}

.style-arabic-light {
  font-family: "Scheherazade New", serif;
  font-weight: 400;
}

.style-hadeeth {
  font-size: 1.1rem;
  font-style: italic;
  font-family: "Lora", serif;
  color: var(--logo--blue);
}

.style-reporters {
  font-size: 1rem;
  font-style: italic;
  margin-top: 0.75rem;
  font-family: "Lora", serif;
  color: var(--metadata-color);
}

.button-blue {
  width: 40%;
  max-width: 17vw;
  margin: auto;
  padding: 0.6rem;
  font-size: 1.1rem;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff;
  background-color: #305c77;
}

.button-blue > a {
  width: 100%;
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-align-last: center;
}

.button-blue > a:hover {
  transition: 0.35s ease-in;
  color: var(--link-hover-color);
}

iframe {
  width: 100%;
  border-radius: 3px;
  outline: var(--grid-element-outline) solid 1px;
}

img {
  border-radius: 3px;
}

/* INDEX PAGE SPECIFIC CSS STYLES */
#home-grid {
  width: 87vw;
  min-height: 90vh;
  margin: auto;
  display: grid;
  grid-template-columns: 35vw 1fr 23vw;
  gap: 1rem 1rem;
  grid-template-areas:
    "notice-one notice-one donate-widget"
    "post-one post-one donate-widget"
    "post-one post-one twitter-feed"
    "post-two post-two twitter-feed"
    "post-two post-two twitter-feed"
    "post-three post-three twitter-feed"
    "post-three post-three twitter-feed"
    "notice-two notice-two twitter-feed";
}

#notice-one {
  grid-area: notice-one;
}

#donate-widget {
  grid-area: donate-widget;
}

#paypal-container {
  height: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#twitter-feed {
  grid-area: twitter-feed;
  padding-bottom: 1rem;
}

#post-one {
  grid-area: post-one;
}

#post-two {
  grid-area: post-two;
}

#post-three {
  grid-area: post-three;
}

#notice-two {
  grid-area: notice-two;
}

/* TIMETABLE PAGE SPECIFIC CSS STYLES */
#timetable-grid {
  width: 87vw;
  margin: auto;
  padding: 0.75rem;
  padding-top: 1.2rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 1.5rem;
  grid-template-areas:
    "timetable-title timetable-title"
    "timetable-subtitle timetable-subtitle"
    "timetable-image timetable-info"
    "timetable-image timetable-info";

  background-color: var(--grid-element-color);
  outline: var(--grid-element-outline) 1px solid;
}

#timetable-title {
  grid-area: timetable-title;
  text-align: center;
  margin-bottom: -1rem;
}

#timetable-subtitle {
  grid-area: timetable-subtitle;
  text-align: center;
}

#timetable-image {
  grid-area: timetable-image;
}

.timetable-image {
  width: 97%;
  margin: auto;
  float: right;
  border: var(--grid-element-outline) 1px solid;
}

#timetable-info {
  grid-area: timetable-info;
}

/* ARTICLES PAGE SPECIFIC CSS STYLES */

/* AUDIO PAGE SPECIFIC CSS STYLES */
#audio-grid {
  width: 87vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "mixlr mixlr"
    "sc-a sc-b"
    "sc-c sc-d";
}

#mixlr {
  grid-area: mixlr;
}

#mixlr-embed iframe {
  height: 180px;
}

.soundcloud-embed iframe {
  height: 35vh;
}

#soundcloud-a {
  grid-area: sc-a;
}

/* ABOUT PAGE SPECIFIC CSS STYLES */
#about-grid {
  width: 87vw;
  margin: auto;
  padding: 0.75rem;
  padding-top: 1.2rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 1.5rem;
  grid-template-areas:
    "about"
    "our-call";
}

#about {
  grid-area: about;
}

#about-title {
  text-align: center;
}

#about-subtitle {
  margin-bottom: 0.75rem;
  text-align: center;
}

#about-text {
  width: 65vw;
  margin: auto;
  text-align: justify;
  text-align-last: center;
}

#about-signature {
  text-align: center;
  font-size: 0.85rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: var(--metadata-color);
}

#our-call-title {
  text-align: center;
}

#our-call-subtitle {
  margin-bottom: 0.75rem;
  text-align: center;
}

#our-call-text {
  width: 65vw;
  margin: auto;
}

#our-call-text > ol > li {
  margin-bottom: 0.75rem;
}

#our-call-signature {
  text-align: center;
  font-size: 0.85rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: var(--metadata-color);
}

/* CONTACT PAGE SPECIFIC CSS STYLES */
#contact-grid {
  width: 87vw;
  margin: auto;
  padding: 0.75rem;
  padding-top: 1.2rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 1.5rem;
  grid-template-areas:
    "contact-title"
    "contact-subtitle"
    "contact-form";

  background-color: var(--grid-element-color);
  outline: var(--grid-element-outline) 1px solid;
}

#contact-title {
  grid-area: contact-title;
  text-align: center;
  margin-bottom: -1rem;
}

#contact-subtitle {
  grid-area: contact-subtitle;
  text-align: center;
}

#contact-form {
  grid-area: contact-form;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-fields {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #d9d9d9;
  font-family: "Lora", serif;
}

#client_message {
  min-height: 15vh;
  font-family: "Lora", serif;
}

/* 404 ERROR PAGE SPECIFIC CSS STYLES */
#error-grid {
  width: 87vw;
  margin: auto;
  padding: 0.75rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    "error-title"
    "error-subtitle";

  background-color: var(--grid-element-color);
  outline: var(--grid-element-outline) 1px solid;
}

#error-title {
  grid-area: error-title;
  text-align: center;
}

#error-subtitle {
  grid-area: error-subtitle;
  text-align: center;
}

/* FOOTER SPECIFIC CSS STYLES */
footer {
  padding: 0.75rem;
  margin-top: 2rem;
  min-height: 5vh;
  text-align: center;
  color: var(--text-color-secondary);
  border-top: solid 0.35rem var(--logo--blue);
  background-color: var(--footer-background-color);
}

#footer-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer-item {
  padding: 0.1rem;
  font-size: 0.85rem;
}
