{% extends "admin/admin-layout.html" %} {% block content %}

<section id="portal-grid">
  <div id="portal-analytics" class="grid-item">
    <div id="analytics-title" class="grid-item-title">Analytics</div>
    <div id="analytics-subtitle" class="grid-item-subtitle">
      View Website Analytics Data
    </div>
  </div>

  <div id="portal-timetable" class="grid-item">
    <div id="timetable-title" class="grid-item-title">Timetable</div>
    <div id="timetable-subtitle" class="grid-item-subtitle">
      Upload A New Timetable (PDF)
    </div>
  </div>
</section>

{% endblock %}
