{% extends "public/layout.html" %} {% block content %}

<section id="about-grid">
  <div id="about-title" class="grid-item-title">About</div>

  <div id="about-subtitle" class="grid-item-subtitle style-arabic-bold">
    السلام عليكم ورحمة الله وبركاته
  </div>

  <div id="about-text" class="grid-item-text">
    All praise is due to Allaah, Lord of the worlds, and may the peace and
    blessing of Allaah be upon the Messenger, his family, his companions and
    followers till the Day of Resurrection. We are a group of Muslims living in
    East London, United Kingdom, following the Qur’aan and the Sunnah upon the
    understanding of the Salaf-us-Saalih and they are the Companions of the
    Prophet Muhammad (<span class="style-arabic-light">صلى الله عليه وسلم</span
    >), and the two generations that came after them. As the Prophet (<span
      class="style-arabic-light"
      >صلى الله عليه وسلم</span
    >) said in an authentic hadeeth:
    <br />
    <br />
    <span class="style-hadeeth">
      “The best of mankind is my generation, then those who come after them,
      then those who come after them.”
    </span>
    <br />
    <span class="style-reporters">[Reported by Bukhaari and Muslim]</span>
    <br />
    <br />
    Our aim is to call the people to the Salafi Da’wah, which is the Qur’aan and
    the Sunnah, pure and free from any additions, deletions and alterations just
    as those first three generations of Muslims understood and implemented it.
    And to connect the people to the Major Scholars and their students, based
    upon the statement of the Prophet Muhammad (<span class="style-arabic-light"
      >صلى الله عليه وسلم</span
    >),
    <br />
    <br />
    <span class="style-hadeeth">
      “Indeed, the Scholars are the inheritors of the Prophets. They do not
      leave behind Dinaar or Dirham; but rather they leave behind knowledge.
      Whoever acquires it, has indeed acquired an abundant portion (of the
      inheritance).”
    </span>
    <br />
    <span class="style-reporters">
      [Reported by Imaam Ahmad, authenticated by Shaykh al-Albaani in Jaami’
      As-Saheeh]
    </span>
  </div>

  <div id="about-signature"></div>
</section>

{% endblock %}
