{% extends "public/layout.html" %} {% block content %}

<section id="about-grid">

    <!-- ABOUT -->
    <div id="about" class="grid-item">
        <div id="about-title" class="grid-item-title">About</div>

        <div id="about-subtitle" class="grid-item-subtitle style-arabic-light">
            السلام عليكم ورحمة الله وبركاته
        </div>

        <div id="about-text" class="grid-item-text">
            All praise is due to Allaah, Lord of the worlds, and may the peace and
            blessing of Allaah be upon the Messenger, his family, his companions and
            followers till the Day of Resurrection. We are a group of Muslims living in
            East London, United Kingdom, following the Qur’aan and the Sunnah upon the
            understanding of the Salaf-us-Saalih and they are the Companions of the
            Prophet Muhammad (<span class="style-arabic-light">&#65018</span>), and the two generations that came after
            them. As the Prophet (<span class="style-arabic-light">&#65018</span>) said in an authentic hadeeth:
            <br />
            <br />
            <span class="style-hadeeth">
                “The best of mankind is my generation, then those who come after them,
                then those who come after them.”
            </span>
            <br />
            <span class="style-reporters">[Reported by Bukhaari and Muslim]</span>
            <br />
            <br />
            Our aim is to call the people to the Salafi Da’wah, which is the Qur’aan and
            the Sunnah, pure and free from any additions, deletions and alterations just
            as those first three generations of Muslims understood and implemented it.
            And to connect the people to the Major Scholars and their students, based
            upon the statement of the Prophet Muhammad (<span class="style-arabic-light">&#65018</span>),
            <br />
            <br />
            <span class="style-hadeeth">
                “Indeed, the Scholars are the inheritors of the Prophets. They do not
                leave behind Dinaar or Dirham; but rather they leave behind knowledge.
                Whoever acquires it, has indeed acquired an abundant portion (of the
                inheritance).”
            </span>
            <br />
            <span class="style-reporters">
                [Reported by Imaam Ahmad, authenticated by Shaykh al-Albaani in Jaami’
                As-Saheeh]
            </span>
            <br />
            <br />
            Even before Athariyyah was chosen as a title, da’wah was taking root in East London. In the nineties classes
            were established in various locations, including the homes of our brothers. These classes quickly became
            filled with brothers and sisters keen to learn the Salafi belief, methodology and fiqh. As the demand
            increased the classes were moved to Durning Hall. Students of knowledge have taught the East London
            community since the 1990s, brothers such as: Abu ‘Ubaidah Amar Bashir, Abu Khadeejah Abdul-Waahid, Hasan
            as-Somaalee, Abu Hakeem Bilaal Davis, Abu Idrees Muhammad, Sameer Debazzi, Uwais Taweel, Abu Umar Farooq
            amongst others. Athariyyah embraced this tradition and continue to organise Duroos and conferences attended
            by thousands.
            <br />
            <br />
            With our newly invigorated push over the last several months, we plan to publish books, free leaflets and
            audios to further strength the da’wah.
            <br />
            <br />
            We have an established weekly classes at Masjid Bin Baz in which people have been benefiting from for many
            years. Over the years we have been studying important books of ‘Aqeedah, methodology and fiqh which the
            scholars have recommended every Muslim to study.
        </div>

        <div id="about-signature">
            <br />
            Shoorah of al-Maktabah al-Athariyyah: <br /> Ozan Ibn Bedir, Saeed Rehmat, Uways Taweel, Sameer Debazzi
        </div>
    </div>

    <!-- OUR CALL -->
    <div id="our-call" class="grid-item">
        <div id="our-call-title" class="grid-item-title">Our Call</div>

        <div id="our-call-subtitle" class="grid-item-subtitle style-arabic-light">
            السلام عليكم ورحمة الله وبركاته
        </div>

        <div id="our-call-text" class="grid-item-text">
            <ol>
                <li>We call first and foremost to the worship of Allah alone, without any partners.</li>
                <li>We follow Allah’s Messenger (<span class="style-arabic-light">&#65018</span>) in every affair that
                    is authentically
                    reported from him.</li>
                <li>We follow the Sunnah of Allah’s Messenger (<span class="style-arabic-light">&#65018</span>) upon the
                    understanding of
                    the Companions, may Allah be pleased with them all.</li>
                <li>We love the Companions of the Messenger of Allah, and we distance ourselves from those who speak
                    against them. We believe that to speak ill of them is to speak ill of the Religion, because they are
                    the ones who conveyed it to us. And we love the Family of the Prophet with love that is permitted by
                    the Sharee’ah.</li>
                <li>We believe that Allah is above the heavens, that the Qur‘an is the Speech of Allah and it is not
                    created and that Allah will be seen in the Hereafter by the Believer.</li>
                <li>We believe in Allah and His Names and Attributes, as they were mentioned in the Book of Allah and in
                    the Sunnah of the Messenger of Allah (<span class="style-arabic-light">&#65018</span>), without
                    tahreef (distortion),
                    nor ta‘weel (figurative interpretation), nor tamtheel (making a likeness), nor tashbeeh
                    (resemblance), nor ta’teel (denial).</li>
                <li>We despise ’ilmul-kalaam (knowledge of theological rhetoric), and we view it to be from amongst the
                    greatest reasons for the division in the Ummah.</li>
                <li>We believe in the Divine Decree, that it is with Allah’s knowledge, His writing in the Preserved
                    Table, His will and His power. That Allah is the creator of actions and man is the doer of his
                    actions, and every soul is led, by the decree of Allah, to that for which He is destined.</li>
                <li>We believe that Eemaan is belief, speech and action, it increases with obedience and decreases with
                    disobedience and that a man can exit from Eemaan and Islam with a word, or a belief or an action.
                </li>
                <li>We strive to purify the various fields of knowledge (hadith, fiqh, tafseer, seerah) from that which
                    is inauthentic and fabricated as that is a source of differing between the Muslims. We benefit from
                    the discoveries of our Scholars and the jurists and other than them and hold that making
                    ittibaa'(following upon evidence) of them is demanded in the Shariah, and taqleed (to blindly
                    follow) them, when their saying is known with certainty to clash with the texts is prohibited.</li>
                <li>We do not write in our books, nor do we cover in our lessons, nor do we give sermons with anything
                    except the Qur‘aan, or the authentic and authoritative hadith, upon the understanding of the
                    Sahaabah (radiyAllahu ‘anhum) and the aathaar (narrations) of the Salaf. We detest what emanates
                    from many books and admonishers in terms of false stories and weak and fabricated ahaadeeth.</li>
                <li>We do not expel anyone from Islam due to any sin except open and clear Shirk (polytheism) with Allah
                    or what is unanimously agreed to comprise major kufr (disbelief). We seek refuge in Allah from that.
                </li>
                <li>We hold that the obligation upon Muslims is to co-operate upon the methodology of the Book and the
                    Sunnah, and what the Salaf of the Ummah were upon; in terms of calling to Allah the Glorified, and
                    being sincere in worship of Him, and warning from Shirk, innovations, and disobedience, and to
                    advise all of the groups that oppose this.’ ‘So co-operating upon righteousness and piety (taqwaa)
                    and mutual advising necessitates warning against evil and not co-operating with the wicked.’</li>
                <li>We do not deem it correct to revolt against the rulers, nor do we feel that revolutions bring about
                    reconciliation. Rather, they corrupt the community.</li>
                <li>We hold that this multiplicity of present day parties is a reason for the division of the Muslims
                    and their weakness. So therefore we set about ‘freeing the minds from the fetters of blind-following
                    and the darkness of sectarianism and party spirit.’</li>
                <li>We take the truth from wherever it comes, however, we know that there are those who claim
                    Salafiyyah, yet Salafiyyah is free from them as they do not act upon what it demands from them</li>
                <li>We believe that “politics” is a part of the Religion, and it is for the rulers and the scholars and
                    is understood in light of the Madhhab of the Salaf. That which the jamaa’aat (groups) call
                    “politics” today is not the shari’ah politics but ways taken from the non-Muslims.</li>
                <li>We believe that there will be no honour or victory for the Muslims until they return to the Book of
                    Allah and to the Sunnah of the Messenger of Allah (<span class="style-arabic-light">&#65018</span>)
                    and establish the
                    Tawhid of Allah and remove shirk from their lands and societies.</li>
                <li>We oppose those who divide the Religion into trivialities and important issues. And we know that
                    this is a destructive da’wah.</li>
                <li>We oppose those who put down the knowledge of the Sunnah, and say that this is not the time for it.
                    Likewise, we oppose those who put down acting upon the Sunnah of the Messenger of Allah (<span
                        class="style-arabic-light">&#65018</span>).</li>
                <li>Our Da’wah and our ’Aqeedah is more beloved to us than our own selves, our wealth and our offspring.
                    So we are not prepared to part with it for gold nor silver. We say this so that no one may have hope
                    in buying out our Da’wah, nor should he think that it is possible for him to purchase it from us for
                    deenaar or dirham.</li>
                <li>We love the People of Hadith and all of the Salaf of the Ummah from Ahlus Sunnah. We love the
                    present day Scholars of the Sunnah and hope to benefit from them and regret the passing away of many
                    of them.</li>
                <li>We oppose and are at war with the past and modern day Kharijites and terrorists. We agree with the
                    consensus of the people of the Sunnah that these extremists are evil people, enemies to Islam and
                    the Sunnah.</li>
                <li>These are glimpses into our ’Aqeedah and our Da’wah. So if one has any objection to this, then we
                    are prepared to accept advice if it is truthful, and to refute it if it is erroneous, and to avoid
                    it if it is stubborn rejection. And Allah knows best.</li>
            </ol>
        </div>

        <div id="our-call-signature">
            <br />
            Shoorah of al-Maktabah al-Athariyyah: <br /> Ozan Ibn Bedir, Saeed Rehmat, Uways Taweel, Sameer Debazzi
        </div>
    </div>

</section>

{% endblock %}