{% extends "public/layout.html" %}

{% block social_media_metadata %} 
<meta property="og:url" content="https://www.masjidbinbaz.com/articles" />
<meta property="og:title" content="Masjid Abdul-Aziz Bin Bāz - {{ article.title }}" />
{% endblock %}

{% block content %}

<section id="article-grid">
  <div id="article-item" class="grid-item">
    <div class="article-wrapper">
      <div id="article-title" class="grid-item-title">{{ article.title }}</div>

      <div id="article-subtitle" class="grid-item-subtitle">
        {{ article.subtitle }}
      </div>

      <div
        id="greetings-arabic"
        class="grid-item-subtitle-center style-arabic-light"
      >
        <!-- السلام عليكم ورحمة الله وبركاته -->
        بسم الله الرحمن الرحيم
      </div>

      <div id="article-content" class="grid-item-text-narrow">
        {{ article.html|safe }}
      </div>

      <div id="article-metadata" class="grid-item-metadata">
        {{ article.author }} | {{ article.date }}
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block footer_notice %}
<p>
  The Copying & Distribution Of Articles Is Prohibited. Short Excerpts May Be
  Shared Freely Alongside URL.
</p>
{% endblock %}
