{% extends "public/layout.html" %} {% block content %}

<section id="articles-grid">

    {% for article in articles %}

    <div id="article" class="grid-item">
        
        <div id="article-title" class="grid-item-title">
            <a href="{{ url_for('article', name=article.path.replace('articles/', '')) }}">{{ article.title }}</a>
        </div>

        <div id="article-subtitle" class="grid-item-subtitle">
            {{ article.subtitle }}
        </div>

        <div id="greetings-arabic" class="grid-item-subtitle-center style-arabic-light">
            السلام عليكم ورحمة الله وبركاته
        </div>

        <div id="article-intro" class="grid-item-text">
            <a href="{{ url_for('article', name=article.path.replace('articles/', '')) }}">{{ article.intro }}</a>
        </div>
        
        <div id="article-metadata" class="grid-item-metadata">
            {{ article.author }} | {{ article.date }}
        </div>

    </div>
    
    {% endfor %}

</section>

{% endblock %}
