{% extends "public/layout.html" %} {% block content %}

<section id="articles-grid">
  <div id="articles-header" class="grid-item">
    <div id="articles-title" class="grid-item-title-center">Articles</div>
    <div id="articles-subtitle" class="grid-item-subtitle-center">Subtitle</div>
  </div>

  <div id="post-one" class="article-card grid-item">
    <div class="grid-item-title">Title</div>
    <div class="grid-item-subtitle">Subtitle</div>
    <div class="grid-item-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui odit enim
      voluptatibus in non ipsam nostrum quidem et nulla laudantium, quaerat unde
      eum numquam quam cum! Iste delectus quisquam architecto. Quod aspernatur
      consectetur enim corrupti, quaerat accusamus labore sapiente laboriosam
      est doloremque dolore earum nemo quidem, perferendis ut, optio non atque
      fugit iusto hic consequatur quia commodi architecto aliquid! Mollitia? Est
      odit voluptate, dicta rem error ratione eligendi excepturi esse delectus
      aliquam consequuntur iste. Itaque numquam quisquam odit impedit maiores
      fuga, laboriosam laudantium aliquam consequuntur earum dolores! Dolorem,
      quod reiciendis.
    </div>
    <div class="grid-item-metadata">Post by Admin at 10:20 10/10/2021</div>
  </div>

  <div id="post-two" class="article-card grid-item">
    <div class="grid-item-title">Title</div>
    <div class="grid-item-subtitle">Subtitle</div>
    <div class="grid-item-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui odit enim
      voluptatibus in non ipsam nostrum quidem et nulla laudantium, quaerat unde
      eum numquam quam cum! Iste delectus quisquam architecto. Quod aspernatur
      consectetur enim corrupti, quaerat accusamus labore sapiente laboriosam
      est doloremque dolore earum nemo quidem, perferendis ut, optio non atque
      fugit iusto hic consequatur quia commodi architecto aliquid! Mollitia? Est
      odit voluptate, dicta rem error ratione eligendi excepturi esse delectus
      aliquam consequuntur iste. Itaque numquam quisquam odit impedit maiores
      fuga, laboriosam laudantium aliquam consequuntur earum dolores! Dolorem,
      quod reiciendis.
    </div>
    <div class="grid-item-metadata">Post by Admin at 10:20 10/10/2021</div>
  </div>

  <div id="post-three" class="article-card grid-item">
    <div class="grid-item-title">Title</div>
    <div class="grid-item-subtitle">Subtitle</div>
    <div class="grid-item-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui odit enim
      voluptatibus in non ipsam nostrum quidem et nulla laudantium, quaerat unde
      eum numquam quam cum! Iste delectus quisquam architecto. Quod aspernatur
      consectetur enim corrupti, quaerat accusamus labore sapiente laboriosam
      est doloremque dolore earum nemo quidem, perferendis ut, optio non atque
      fugit iusto hic consequatur quia commodi architecto aliquid! Mollitia? Est
      odit voluptate, dicta rem error ratione eligendi excepturi esse delectus
      aliquam consequuntur iste. Itaque numquam quisquam odit impedit maiores
      fuga, laboriosam laudantium aliquam consequuntur earum dolores! Dolorem,
      quod reiciendis.
    </div>
    <div class="grid-item-metadata">Post by Admin at 10:20 10/10/2021</div>
  </div>
</section>

{% endblock %}
