{% extends "public/layout.html" %} {% block content %}

<section id="article-grid">
  <div id="article-item" class="grid-item">
    <div class="article-wrapper">
      <div id="article-title" class="grid-item-title">{{ article.title }}</div>

      <div id="article-subtitle" class="grid-item-subtitle">
        {{ article.subtitle }}
      </div>

      <div
        id="greetings-arabic"
        class="grid-item-subtitle-center style-arabic-light"
      >
        السلام عليكم ورحمة الله وبركاته
      </div>

      <div id="article-content" class="grid-item-text-narrow">
        {{ article.html|safe }}
      </div>

      <div id="article-metadata" class="grid-item-metadata">
        {{ article.author }} | {{ article.date }}
      </div>
    </div>
  </div>
</section>

{% endblock %}
