{% extends "public/layout.html" %} {% block content %}

<section id="audio-grid">
    <div id="mixlr" class="grid-item">
        <div id="mixlr-title" class="grid-item-title">Mixlr</div>

        <div id="mixlr-subtitle" class="grid-item-subtitle">
            Live Radio Broadcast
        </div>

        <div id="mixlr-embed" class="audio-embed-container">
            <iframe
                id="mixlr-plugin"
                src="https://mixlr.com/users/1544524/embed"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                frameborder="no"
            ></iframe>
        </div>
    </div>

    <div id="soundcloud-a" class="grid-item">
        <div class="soundcloud-title grid-item-title">Playlist</div>
        <div class="soundcloud-subtitle grid-item-subtitle">Sahih Al-Bukhāri</div>

        <div class="soundcloud-embed audio-embed-container">
            <iframe
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1267629787&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
            ></iframe>
        </div>
    </div>

    <div id="soundcloud-b" class="grid-item">
        <div class="soundcloud-title grid-item-title">Playlist</div>
        <div class="soundcloud-subtitle grid-item-subtitle">Sahih Al-Bukhāri</div>

        <div class="soundcloud-embed audio-embed-container">
            <iframe
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1267629787&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
            ></iframe>
        </div>
    </div>

    <div id="soundcloud-c" class="grid-item">
        <div class="soundcloud-title grid-item-title">Playlist</div>
        <div class="soundcloud-subtitle grid-item-subtitle">Sahih Al-Bukhāri</div>

        <div class="soundcloud-embed audio-embed-container">
            <iframe
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1267629787&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
            ></iframe>
        </div>
    </div>

    <div id="soundcloud-d" class="grid-item">
        <div class="soundcloud-title grid-item-title">Playlist</div>
        <div class="soundcloud-subtitle grid-item-subtitle">Sahih Al-Bukhāri</div>

        <div class="soundcloud-embed audio-embed-container">
            <iframe
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1267629787&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
            ></iframe>
        </div>
    </div>
</section>

{% endblock %}
