{% extends "public/layout.html" %} {% block content %}

<section id="audio-grid">
  <div id="mixlr" class="grid-item">
    <div id="mixlr-title" class="grid-item-title">Mixlr</div>

    <div id="mixlr-subtitle" class="grid-item-subtitle">
      Live Radio Broadcast
    </div>

    <div id="mixlr-embed" class="audio-embed-container">
      <iframe
        id="mixlr-plugin"
        src="https://mixlr.com/users/1544524/embed"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        frameborder="no"
      ></iframe>
    </div>
  </div>

  {% for playlist in data['playlists'] %}
  <div id="soundcloud-item" class="grid-item">
    <div class="soundcloud-title grid-item-title">Playlist</div>
    <div class="soundcloud-subtitle grid-item-subtitle">{{playlist}}</div>

    <div class="soundcloud-embed audio-embed-container">
      <iframe
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="{{data['playlists'][playlist]}}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=true&visual=true"
      ></iframe>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
