{% extends "public/layout.html" %} {% block content %}

<section id="contact-grid">
  <div id="contact-title" class="grid-item-title">Contact</div>

  <div id="contact-subtitle" class="grid-item-subtitle">
    Contact us using this form, and we’ll get back to you via email
  </div>

  <div id="contact-form">
    <form method="POST" autocomplete="off" action="/contact">
      {{form.csrf_token }} {{form.client_address(class="contact-fields")}}
      {{form.client_subject(class="contact-fields")}}
      {{form.client_message(class="contact-fields")}}
      <input id="send-email" class="button-blue" type="submit" value="Send" />
    </form>
  </div>
</section>

{% endblock %}
