{% extends "public/layout.html" %} {% block content %}

<section id="donate-grid">

  <div id="donate" class="grid-item">
    <div id="donate-title" class="grid-item-title">Donate</div>
    <div id="donate-subtitle" class="grid-item-subtitle">
      Please donate to help with the upkeep of the Masjid
    </div>
  </div>

  <div id="donate-paypal" class="grid-item">
    <div id="donate-paypal-title" class="grid-item-title">Paypal</div>
    <div id="donate-paypal-subtitle" class="grid-item-subtitle">
        Donate via Paypal...
    </div>
    <div id="donate-paypal-text" class="grid-item-text donate-text">
        PLACEHOLDER TEXT
    </div>
  </div>

  <div id="donate-bank" class="grid-item">
    <div id="donate-bank-title" class="grid-item-title">Bank Transfer</div>
    <div id="donate-bank-subtitle" class="grid-item-subtitle">
        Donate via Bank Transfer...
    </div>
    <div id="donate-bank-text" class="grid-item-text donate-text">
        PLACEHOLDER TEXT
    </div>
  </div>

</section>

{% endblock %}
